.task-assignment {
  .student-info {
    margin-bottom: 40px;
    border: 1px solid $primary;
    border-radius: 5px;
    padding: 15px;
  }

  .templates {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

    h5 {
      font-weight: 700;
    }

    h6 {
      font-weight: 700;
      margin-top: 20px;
    }

    .filterBlock {
      display: inline-block;
      width: 145px;
      margin-right: 10px;
      vertical-align: top;

      h6 {
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
      }

      label {
        display: block;
        margin-bottom: 0;
      }
    }

    .btn {
      display: block;
    }

    .task-list {
      margin-top: 20px;

      a {
        font-weight: 500;
        margin-bottom: 10px;
      }

      .task-list-item {
        margin-bottom: 10px;
      }
    }
  }

  .assigned-task {
    border: 1px solid $primary;
    color: $primary;
    padding: 1px 1px 1px 5px;
    margin-bottom: 5px;
    border-radius: 5px;

    .del {
      position: relative;
      float: right;
      height: 21px;
      width: 21px;
      padding: 0;
      font-size: 18px;
      line-height: 19px;
    }
  }

  .save-as {
    margin-left: 20px;
    margin-top: 10px;
  }
}
