.task-assignment {
  .task-details {
    margin-top: 30px;
    border: 1px solid $primary;
    border-radius: 5px;
    padding: 10px;

    strong {
      font-size: 20px;
      vertical-align: middle;
    }

    .multiple-answers {
      margin-bottom: 10px;

      label {
        display: block;
      }
    }

    .source-link {
      text-decoration: underline;
    }
  }

  .delete-lesson {
    color: $danger;
    font-size: 10px;
    vertical-align: middle;
    margin-left: 10px;
  }

  .new-task-form {
    position: absolute;
    top: 100px;
    background-color: lightgray;
  }

  .back-to-assignment {
    position: relative;
    top: -20px;
    color: $primary;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .lessons {
    margin-top: 40px;

    ul {
      list-style: none;
      padding-left: 0;
    }

    button {
      margin-bottom: 15px;
    }
  }

  .templates {
    margin-top: 33px;
    padding-left: 30px;
    padding-right: 30px;

    h5 {
      font-weight: 700;
    }

    h6 {
      font-weight: 700;
      margin-top: 20px;
    }

    .filterBlock {
      display: inline-block;
      width: 145px;
      margin-right: 10px;
      vertical-align: top;

      h6 {
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
      }

      label {
        display: block;
        margin-bottom: 0;
      }
    }

    .btn {
      display: block;
    }

    .task-list {
      margin-top: 20px;

      a {
        font-weight: 500;
        margin-bottom: 10px;
      }

      .task-list-item {
        margin-bottom: 10px;
      }
    }
  }

  .assigned-task {
    border: 1px solid $primary;
    color: $primary;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    line-height: 31px;
    display: flex;
    align-items: center;

    h6 {
      margin-bottom: 0;
    }

    button {
      margin-right: 10px;
    }

    .del {
      position: absolute;
      right: 25px;
      height: 21px;
      width: 21px;
      padding: 0;
      font-size: 18px;
      line-height: 19px;
    }

    .badge {
      position: absolute;
      right: 65px;
    }
  }

  .add-task-btn {
    margin-top: 10px;
  }

  .save-as {
    margin-left: 20px;
    margin-top: 10px;
  }
}
