.complete-task {
  .lessons {
    margin-top: 50px;

    ul {
      list-style: none;
      padding-left: 0;
    }
  }

  .assigned-task {
    border: 1px solid $primary;
    color: $primary;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    line-height: 31px;
    display: flex;
    align-items: center;

    h6 {
      margin-bottom: 0;
    }

    button {
      margin-right: 10px;
    }

    a:hover {
      color: white;
    }

    span {
      height: 15px;
      margin-left: auto;
      margin-right: 7px;
    }
  }

  .task-details {
    margin-top: 30px;
    border: 1px solid $primary;
    border-radius: 5px;
    padding: 10px;

    span {
      margin-left: 10px;
      vertical-align: text-top;
    }

    .multiple-answers {
      label {
        display: block;
      }
    }

    .source-link {
      text-decoration: underline;
    }
  }
  .save-as {
    margin-left: 20px;
    margin-top: 10px;
  }

  .submitBtn{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .submited-note{
    margin-bottom: 10px;
    font-size: 13px;
  }
}
