.dashboard {
  textarea {
    overflow-x: hidden;
    display: block;
    width: 100%;
  }

  .card {
    max-width: 600px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;

    p {
      max-width: 250px;
      margin-bottom: 0;
    }

    .card-header {
      color: $primary;
      font-weight: 500;
    }

    button {
      margin-top: 10px;
      margin-bottom: 5px;
    }

    ul {
      list-style: none;
      padding-left: 0;

      button {
        margin: 0;
      }

      a {
        color: $primary;
        vertical-align: middle;
      }

      .accept {
        color: $success;
      }

      .decline {
        color: $danger;
      }

      .delete {
        color: $danger;
        margin-left: -10px;
        margin-right: 10px;
      }
    }
  }

  .top-row {
    display: block;
  }

  .availability {
    width: 300px;

    textarea {
      height: 70px;
    }
  }

  .appointments,
  .requests {
    li {
      margin-bottom: 15px;
    }
  }

  .small-card {
    width: 205px;

    .card-body {
      height: 135px;
      overflow: auto;
    }

    ul {
      margin-bottom: 0;
    }
  }

  .student-requests {
    width: 270px;
  }

  label {
    display: block;
  }

  #datepicker {
    color: #495057;
    padding: 3px 0 3px 15px;
    width: 130px;
    height: 35px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  #time {
    width: 80px;
    display: inline-block;
  }

  #duration {
    width: 100px;
    display: inline-block;
  }

  #message {
    margin-top: 10px;
  }
}
