.lessons {
  h3 {
    margin-top: 0;
  }

  .task-details,
  .task-list {
    margin-top: 20px;
    border: 1px solid $primary;
    background-color: white;
    border-radius: 0.25rem;
    padding: 15px;
  }
.form-check-label{
  width: fit-content;
}
  .submitBtn {
    margin-bottom: 5px;
  }

  .task-details {
    strong {
      font-size: 20px;
    }

    .multiple-answers {
      margin-bottom: 10px;

      label {
        display: block;
        margin-left: 10px;
      }
    }

    .source-link {
      text-decoration: underline;
    }

    .save-as {
      margin-left: 20px;
      margin-top: 10px;
    }
    .incomplete {
      margin-top: 3px;
    }
  }

  .delete-lesson {
    color: $danger;
    font-size: 10px;
    vertical-align: middle;
    margin-left: 10px;
  }

  .new-task-form {
    position: absolute;
    top: 100px;
    background-color: lightgray;
  }

  .lesson-list {
    button {
      display: block;
    }

    .card {
      width: 178px;
      display: inline-block;
      vertical-align: top;
      margin-right: 24px;

      .card-body {
        height: 100px;
        overflow-x: hidden;

        ul {
          margin-bottom: 0;
        }
      }
    }

    span {
      color: $danger;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    button {
      margin-bottom: 15px;
    }
  }

  .assigned-task {
    border: 1px solid $primary;
    color: $primary;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    line-height: 31px;
    display: flex;
    align-items: center;
    position: relative;

    h6 {
      margin-bottom: 0;
    }

    button {
      margin-right: 10px;
    }

    .del {
      position: absolute;
      right: 10px;
      top: 11px;
      height: 21px;
      width: 21px;
      padding: 0;
      font-size: 18px;
      line-height: 19px;
    }

    .badge {
      position: absolute;
      right: 14px;
      top: 14px;
    }
  }

  .add-task-btn {
    margin-top: 10px;
  }
}
