@import '../../node_modules/spinthatshit/src/loaders';
$danger: #d9534f;
$primary: #325D88;
$info: #29ABE0;
$warning: #F47C3C;
$info: #29ABE0;
$success: #93C54B;
$secondary: #8E8C84;
$dark: #3E3F3A;

body{
  background-color: #F2F2F2;
}
// 
// .ng-hide-add,
// .ng-hide-remove {
//   display: none !important;
// }


.navbar {
  .form-inline button {
    margin-right: 5px;
  }

  img {
    width: 35px;
  }
}

.container-fluid {
  margin-top: 40px;
  margin-bottom: 60px;

  h3 {
    font-weight: 500;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
}

.saveBtn {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 400;
}

.login-form {
  button,
  input {
    margin-top: 15px;
  }

}

.reg-form{
  .form-control, fieldset {
      margin-top: 15px;
  }
}

.loader {
  @include loader07($align: middle, $color: $primary, $size: 15px);
}

.loader-area {
  height: 150px;
  width: 100%;
}
@import './templateForm.scss';
@import './allTemplates.scss';
@import './assignLesson.scss';
@import './completeLesson.scss';
@import './dashboard.scss';
