@import '../../node_modules/spinthatshit/src/loaders';
$danger: #d9534f;
$primary: #325D88;
$info: #29ABE0;
$warning: #F47C3C;
$info: #29ABE0;
$success: #93C54B;
$secondary: #8E8C84;

.navbar img {
  width: 35px;
}

.container-fluid {
  margin-top: 40px;
  margin-bottom: 60px;

  h3 {
    font-weight: 500;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
}

.saveBtn {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 400;
}

.loader {
  @include loader07($align: middle, $color: $primary, $size: 15px);
}

.loader-area {
  height: 150px;
  width: 100%;
}

@import './templateForm.scss';
@import './allTemplates.scss';
@import './assignTask.scss';
@import './completeTask.scss';
