@import '../../node_modules/spinthatshit/src/loaders';
$danger: #d9534f;
$primary: #325D88;

.navbar img {
  width: 35px;
}

.container-fluid {
  margin-top: 40px;
  margin-bottom: 60px;

  h3 {
    font-weight: 500;
    margin-bottom: 35px;
  }
}

.new-task {
  padding: 10px 15px;

  .del {
    padding: 0;
    width: 19px;
    height: 18px;
    line-height: 18px;
    position: relative;
    float: right;
    font-size: 19px;
  }

  form button {
    display: block;
    margin: 10px 0;
  }

  .saveBtn {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 400;
  }

  .answers {
    position: relative;

    .del {
      width: 15px;
      height: 14px;
      line-height: 15px;
      top: 39px;
      right: 8px;
      font-size: 16px;
    }
  }

  .questions {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    position: relative;
  }
}

.all-tasks {
  position: relative;

  ul {
    padding-left: 15px;
    margin: 5px 0;
  }

  .del {
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 19px;
  }

  .edit {
    float: right;
    padding: 2px 10px;
  }

  .filterBar {
    padding-top: 65px;
    margin-left: 30px;
    margin-bottom: 30px;

    h5 {
      font-weight: 700;
    }

    label {
      display: block;
    }
  }
}

.loader {
  @include loader07($align: middle, $color: $primary, $size: 15px);
}

.loader-area {
  height: 150px;
  width: 100%;
}
