<div class="container-fluid task-assignment" ng-controller="CompleteLessonController as complete">
  <div class="row">

    <div class="col-sm-2 offset-sm-1">
      <div class="lessons">
        <h5><strong>LESSONS</strong></h5>
        <button class="btn btn-success btn-sm" ng-click="assign.createLesson()">Create lesson</button>
        <h6>Unassigned:</h6>
        <ul>
          <li ng-repeat="lesson in assign.lessons | filter: {dateAssigned: '!'}"><a href="" ng-click="complete.openLesson(lesson.id, true)">New Lesson</a>
          </li>
        </ul>
        <h6>Assigned:</h6>
        <ul>
          <li ng-repeat="lesson in assign.lessons | filter: {dateSubmitted: '!'} | orderBy: '-dateAssigned'"><a href="" ng-click="complete.openLesson(lesson.id)">{{ lesson.dateAssigned | date:'MMM d, yyyy - HH:mm' }}</a>
          </li>
        </ul>
        <h6 class="text-danger"><strong>To Evaluate:</strong></h6>
        <ul>
          <li ng-repeat="lesson in assign.lessons | filter: {dateSubmitted: ''} | filter: {dateEvaluated: '!'} | orderBy: '-dateAssigned'"><a href="" ng-click="complete.openLesson(lesson.id)">{{ lesson.dateAssigned | date:'MMM d, yyyy - HH:mm' }}</a>
          </li>
        </ul>
        <h6>Evaluated:</h6>
        <ul>
          <li ng-repeat="lesson in assign.lessons | filter: {dateEvaluated: ''} | orderBy: '-dateAssigned'"><a href="" ng-click="complete.openLesson(lesson.id)">{{ lesson.dateAssigned | date:'MMM d, yyyy - HH:mm' }}</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-sm-9 col-md-8">
      <h3>Tasks for <span class="text-primary">{{ assign.student.name }}</span></h3>
      <h4 ng-if="!assign.$stateParams.new && assign.$stateParams.lessonId">Lesson assigned on {{ complete.openedLesson.dateAssigned | date:'MMM d, HH:mm'}} <a href="" class="delete-lesson" ng-click="assign.deleteLesson()">- DELETE THIS LESSON -</a></h4>
      <h4 ng-if="assign.$stateParams.new">New lesson <a href="" class="delete-lesson" ng-click="assign.deleteLesson()">- DELETE THIS LESSON -</a></h4>

      <div class="assigned-task" ng-repeat="task in assign.lessonTasks | orderBy:['category', 'level']">
        <button class="btn btn-primary btn-sm" ng-click="complete.openTask(task.id)" ng-hide="task.id == complete.task.id">Open</button>
        <button class="btn btn-info btn-sm" ng-click="complete.closeTask()" ng-show="task.id === complete.task.id">Close</button>
        <h6>{{task.level}} / {{task.category}} / {{task.subject}} / {{task.name}}</h6>
        <span class="badge badge-pill badge-danger" ng-if="!task.evaluated && task.completed">To Do</span>
        <span class="badge badge-pill badge-success" ng-if="task.evaluated && !assign.lesson.dateEvaluated">Evaluated</span>
        <div class="btn btn-danger del" ng-click="assign.deleteTask(task)">&times;</div>
      </div>

      <button class="btn btn-outline-primary btn-sm add-task-btn" ng-click="assign.newTask()" ng-if="assign.$stateParams.new">Add Task</button>
      <button class="btn btn-primary btn-block saveBtn" ng-click="assign.assignLesson()" ng-if="assign.lessonTasks[0] && assign.$stateParams.new">Assign lesson</button>
      <button class="btn btn-primary btn-block saveBtn" ng-click="assign.submitEvaluation()" ng-if="assign.allTasksEvaluated && !assign.lesson.dateEvaluated">Submit evaluation</button>

      <div ng-if="complete.task.questions">
        <div ng-if="!assign.lesson.dateSubmitted || assign.lesson.dateEvaluated" ng-include="'app/tasks/html/taskDetails.html'"></div>
        <div ng-if="assign.lesson.dateSubmitted && !assign.lesson.dateEvaluated" ng-include="'app/tasks/html/taskEvaluateForm.html'"></div>
      </div>

    </div>

  </div>
</div>
