<div class="container-fluid task-assignment">
  <div class="row">
    <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2 student-info">
      <h3 class="text-primary">Task assignment</h3>
      <h4>Assignment for <strong>PETER PETERSON</strong></h4>
      <div class="assigned-task" ng-repeat="task in assign.assignedTasks">
        {{task.level}} / {{task.category}} / {{task.subject}} / {{task.name}}
        <div class="btn btn-danger del" ng-click="assign.deleteTask(task)">&times;</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-10 col-sm-4 templates" ng-controller="TemplateListController as tasks">
      <h5 class="text-success">FILTER TEMPLATES BY:</h5>

      <div ng-include="'app/tasks/html/filter.html'"></div>

      <h6>SELECT A TEMPLATE TO USE:</h6>
      <div class="task-list">
        <div class="task-list-item" ng-repeat="task in tasks.tasks | filter: {studentId: '!'} | orderBy: '+category'">
          <a ui-sref="asssignTask({ id: task.id })">&raquo; {{task.level}} / {{task.category}} / {{task.subject}} / {{task.name}}</a>
        </div>
      </div>
    </div>

    <div class="col-sm-7 task-form" ng-controller="TemplateController as task">
      <form ng-submit="assign.assignTask(task.task)">
        <fieldset>
          <h5 class="text-primary">New Task</h5>

          <div ng-include="'app/tasks/html/formTemplate.html'"></div>

          <button type="submit" class="btn btn-primary btn-lg btn-block saveBtn">Assign task</button>
        </fieldset>
      </form>

      <div class="alert alert-dismissible alert-success" ng-show="assign.savedAlert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Assigned!</strong> Assign a <a href="" ng-click="task.backToTop()" class="alert-link">new task</a>?
      </div>
    </div>
  </div>
</div>
