<div class="container-fluid complete-task">
  <div class="row">
    <div class="col-sm-8 offset-sm-2" ng-controller="AssignmentController as assign">
      <h3 class="text-primary">MY ASSIGNED TASKS</h3>
      <div class="assigned-task" ng-repeat="task in assign.assignedTasks">
        <a class="btn btn-primary btn-sm" ui-sref="completeTask({ id: task.id })" ng-hide="task.id == complete.task.id">Open Task</a>
        <a class="btn btn-info btn-sm" ui-sref="completeTask({ id: null })" ng-show="task.id == complete.task.id">Close</a>
        <h6>{{task.level}} / {{task.category}} / {{task.subject}} / {{task.name}}</h6>
        <span class="badge badge-pill badge-danger" ng-if="task.id !== complete.task.id && !task.dateCompleted">To Do</span>
        <span class="badge badge-pill badge-warning" ng-if="task.id == complete.task.id && !task.dateCompleted">In Progress</span>
        <span class="badge badge-pill badge-success" ng-if="task.dateCompleted">Done</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 offset-sm-2" ng-if="complete.task.questions">
      <div class="task-details">
        <p ng-if="!complete.task.dateCompleted"><small>* Do not forget to SAVE before closing the task.</small></p>
        <h5 class="text-primary">{{ complete.task.level }} / {{ complete.task.category }} / {{ complete.task.subject }}</h5>
        <h4 class="text-primary">{{ complete.task.name }}</h4>
        <p ng-if="complete.task.instructions">{{ complete.task.instructions }}</p>
        <p>{{ complete.task.source }}</p>

        <form ng-submit="complete.saveTask()">
          <div class="form-group" ng-repeat="q in complete.task.questions track by $index" ng-init="$indexQ = $index">
            <label for="answer{{$indexQ}}">{{ q.question }}
              <span class="badge badge-pill badge-light">{{ q.maxScore }} points</span>
            </label>
            <textarea id="answer{{$indexQ}}" class="form-control" ng-if="q.type == 'open'" ng-model="complete.task.questions[$indexQ].studentAnswer" placeholder="Your Answer"></textarea>
            <div class="form-check multiple-answers">
              <label class="form-check-label" ng-repeat="answer in q.answers ">
                <input class="form-check-input" type="checkbox" ng-model="complete.task.questions[$indexQ].studentAnswer[answer]">
                  {{ answer }}
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block saveBtn" ng-hide="complete.task.dateCompleted">Submit answers for review</button>
        </form>

      </div>
    </div>
  </div>


</div>
