<!-- <div class="container-fluid complete-task">
  <div class="row">
    <div class="col-sm-2 offset-sm-1">
      <div class="lessons">
        <h5><strong>TO EVALUATE</strong></h5>
        <ul>
          <li ng-repeat="lesson in evaluate.lessons | filter: {dateSubmitted: ''} | filter: {dateEvaluated: '!'} | orderBy: '-dateSubmitted'"><a href="" ng-click="evaluate.openLesson(lesson.id)">{{ lesson.dateAssigned | date:'MMM d, yyyy - HH:mm' }}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-7">
      <h3 class="text-primary" ng-if="evaluate.openedLesson">LESSON - {{ evaluate.openedLesson.dateAssigned | date:'MMM d, HH:mm'}}</h3>
      <button class="btn btn-danger btn-lg submitBtn" ng-click="evaluate.sendEvaluation()" ng-if="evaluate.allTasksEvaluated && !evaluate.openedLesson.dateEvaluated">Send evaluation to student</button>


      <div class="assigned-task" ng-repeat="task in evaluate.lessonTasks | orderBy:['category', 'level']">
        <button class="btn btn-primary btn-sm" ng-click="evaluate.openTask(task.id)" ng-hide="task.id == evaluate.task.id">Open Task</button>
        <button class="btn btn-info btn-sm" ng-click="evaluate.closeTask()" ng-show="task.id === evaluate.task.id">Close</button>
        <h6>{{task.level}} / {{task.category}} / {{task.subject}} / {{task.name}}</h6>
        <span class="badge badge-pill badge-danger" ng-if="!task.evaluated">To Do</span>
        <span class="badge badge-pill badge-success" ng-if="task.evaluated">Evaluated</span>
      </div>

      <div ng-if="evaluate.task.questions">

        <div ng-include="'app/tasks/html/taskEvaluateForm.html'"></div>

      </div>
    </div>
  </div>
</div> -->
