<div class="task-details">
  <p><small>* Do not forget to SAVE before closing the task.</small></p>
  <h5 class="text-primary">{{ complete.task.level }} / {{ complete.task.category }} / {{ complete.task.subject }}</h5>
  <h4 class="text-primary">{{ complete.task.name }}</h4>
  <p ng-if="assign.task.instructions">{{ complete.task.instructions }}</p>
  <p ng-if="assign.task.sourceType === 'text'">{{ complete.task.source }}</p>
  <p><a class="text-info source-link" ng-if="assign.task.sourceType === 'url'" href="{{assign.task.source}}" target=”_blank”>{{ complete.task.source }}</a></p>

  <form ng-submit="complete.saveEvaluation()">
    <div class="form-group" ng-repeat="q in complete.task.questions">
      <h6 class="text-info">{{ q.question }}</h6>
      <h6 ng-if="q.type === 'open'">{{ q.studentAnswer }}</h6>
      <div class="form-check multiple-answers">
        <label class="form-check-label" ng-repeat="answer in q.answers">
        <input class="form-check-input" type="checkbox" ng-model="q.studentAnswer[answer]" ng-disabled="assign.lesson.dateSubmitted">
          {{ answer }}
      </label>
      </div>

      <div class="form-group mark">
        <fieldset class="form-group radio">
          <div class="form-check">
            <label class="form-check-label">
            <input type="radio" class="form-check-input" ng-model="q.evaluation" value="correct" >
            Correct
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="radio" class="form-check-input" ng-model="q.evaluation" value="partCorrect">
            Partially correct
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="radio" class="form-check-input" ng-model="q.evaluation" value="incorrect">
            Incorrect
          </label>
          </div>
        </fieldset>
        <textarea class="form-control" ng-model="q.evalComments" rows="3" placeholder="Optional comments"></textarea>
      </div>

    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block saveBtn">Save changes</button>
  </form>
</div>
