<div class="container-fluid task-assignment">
  <div class="row">
    <div class="col-10 col-sm-4 templates" ng-controller="TemplateListController as templates">
      <h5 class="text-success">FILTER TEMPLATES BY:</h5>

      <div ng-include="'app/lessons/html/filter.html'"></div>

      <h6>SELECT A TEMPLATE TO USE:</h6>
      <a ng-click="lessonCtrl.toNewTask()" href="">(Remove template)</a>
      <div class="task-list">
        <div class="task-list-item" ng-repeat="template in templates.templates | filter: {studentId: '!'} | orderBy: ['level', 'category']">
          <a ui-sref="addTask({ templateId: template.id })">&raquo; {{template.level}} / {{template.category}} / {{template.subject}} / {{template.name}}</a>
        </div>
      </div>
    </div>

    <div class="col-sm-7 task-form" ng-controller="TaskFormController as form">
      <form ng-submit="lessonCtrl.addTask(form.template)">
        <fieldset>
          <a class="back-to-assignment" href="" ng-click="lessonCtrl.backToLesson()">Back to Lesson Assignment</a>
          <h5 class="text-primary"><strong>CREATE A NEW TASK</strong></h5>

          <div ng-include="'app/lessons/html/taskForm.html'"></div>

          <label class="form-check-label save-as">
              <input class="form-check-input" type="checkbox" ng-model="lessonCtrl.saveAsTemplate" >
              Save as a new template
            </label>
          <button type="submit" class="btn btn-primary btn-lg btn-block saveBtn">Add task to lesson</button>
        </fieldset>
      </form>
    </div>
  </div>

</div>
