<div class="container-fluid task-assignment">
  <div class="row">

    <div class="col-sm-10 offset-sm-1">
      <div ng-include="'app/lessons/html/lessonList.html'"></div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-9 offset-sm-1 task-list" ng-controller="TaskController as taskCtrl">
      <h4 class="text-primary" ng-if="lessonCtrl.lesson">TASKS</h4>
      <div ng-if="lessonCtrl.securityContext.getUser().role === 'teacher'">
        <h4 ng-if="!lessonCtrl.new && lessonCtrl.lesson.dateAssigned">Lesson assigned on {{ lessonCtrl.lesson.dateAssigned | date:'MMM d, HH:mm'}} <a href="" class="delete-lesson" ng-click="lessonCtrl.deleteLesson()">- DELETE THIS LESSON -</a></h4>
        <h4 ng-if="lessonCtrl.new">New lesson <a href="" class="delete-lesson" ng-click="lessonCtrl.deleteLesson()">- DELETE THIS LESSON -</a></h4>
      </div>

      <div ng-if="lessonCtrl.securityContext.getUser().role === 'student'">
        <h4 ng-if="lessonCtrl.lesson">Lesson assigned on {{ lessonCtrl.lesson.dateAssigned | date:'MMM d, HH:mm'}}</h4>
        <button class="btn btn-danger btn-lg submitBtn" ng-click="lessonCtrl.submitLesson()" ng-if="lessonCtrl.tasksIncomplete == '0' && !lessonCtrl.lesson.dateSubmitted">Submit for evaluation</button>
      </div>

      <div class="badge badge-pill badge-info submited-note" ng-if="lessonCtrl.lesson.dateSubmitted && !lessonCtrl.lesson.dateEvaluated">Lesson was submited for evaluation at {{ lessonCtrl.lesson.dateAssigned | date:'HH:mm' }} on {{ lessonCtrl.lesson.dateAssigned | date:'MMM d, yyyy' }}.</div>
      <div class="badge badge-pill badge-info submited-note" ng-if="lessonCtrl.lesson.dateSubmitted && lessonCtrl.lesson.dateEvaluated">Lesson was evaluated at {{ lessonCtrl.lesson.dateEvaluated | date:'HH:mm' }} on {{ lessonCtrl.lesson.dateEvaluated | date:'MMM d, yyyy' }}.</div>

      <div class="assigned-task" ng-repeat="task in lessonCtrl.lessonTasksDetailed | orderBy:['category', 'level']">
        <button class="btn btn-primary btn-sm" ng-click="taskCtrl.openTask(task.id)" ng-hide="task.id == taskCtrl.task.id">Open</button>
        <button class="btn btn-info btn-sm" ng-click="taskCtrl.closeTask()" ng-show="task.id === taskCtrl.task.id">Close</button>
        <h6>{{task.level}} / {{task.category}} / {{task.subject}} / {{task.name}}</h6>

        <div ng-if="lessonCtrl.securityContext.getUser().role === 'teacher'">
          <span class="badge badge-pill badge-danger" ng-if="!task.evaluated && task.completed">To Do</span>
          <span class="badge badge-pill badge-success" ng-if="task.evaluated && !lessonCtrl.lesson.dateEvaluated">Evaluated</span>
          <div class="btn btn-danger del" ng-click="lessonCtrl.deleteTask(task)" ng-if="lessonCtrl.new">&times;</div>
        </div>

        <div ng-if="lessonCtrl.securityContext.getUser().role === 'student'">
          <span class="badge badge-pill badge-danger" ng-if="!task.dateWorked && !task.completed">To Do</span>
          <span class="badge badge-pill badge-warning" ng-if="task.dateWorked && !task.completed">In Progress</span>
          <span class="badge badge-pill badge-success" ng-if="task.completed && !lessonCtrl.lesson.dateSubmitted">Done</span>
        </div>
      </div>

      <div ng-if="lessonCtrl.securityContext.getUser().role === 'teacher'">
        <button class="btn btn-outline-primary btn-sm add-task-btn" ng-click="lessonCtrl.toNewTask()" ng-if="lessonCtrl.new">Add Task</button>
        <button class="btn btn-primary btn-block saveBtn" ng-click="lessonCtrl.assignLesson()" ng-if="lessonCtrl.lessonTasksDetailed[0] && lessonCtrl.new">Assign lesson</button>
        <button class="btn btn-primary btn-block saveBtn" ng-click="lessonCtrl.submitEvaluation()" ng-if="lessonCtrl.tasksUnevaluated == '0' && !lessonCtrl.lesson.dateEvaluated">Submit evaluation</button>
      </div>

      <div ng-if="taskCtrl.task.questions">
        <div ng-if="lessonCtrl.securityContext.getUser().role === 'teacher'">
          <div ng-if="!lessonCtrl.lesson.dateSubmitted || lessonCtrl.lesson.dateEvaluated" ng-include="'app/lessons/html/taskDetails.html'"></div>
          <div ng-if="lessonCtrl.lesson.dateSubmitted && !lessonCtrl.lesson.dateEvaluated" ng-include="'app/lessons/html/taskEvaluateForm.html'"></div>
        </div>
        <div ng-if="lessonCtrl.securityContext.getUser().role === 'student'">
          <div ng-if="!lessonCtrl.lesson.dateSubmitted" ng-include="'app/lessons/html/taskCompleteForm.html'"></div>
          <div ng-if="lessonCtrl.lesson.dateSubmitted" ng-include="'app/lessons/html/taskDetails.html'"></div>
        </div>
      </div>

    </div>
  </div>
</div>
