<div class="task-details">
  <p ng-if="!lessonCtrl.lesson.dateSubmitted"><small>* Do not forget to SAVE before closing the task.</small></p>
  <h5 class="text-primary">{{ taskCtrl.task.level }} / {{ taskCtrl.task.category }} / {{ taskCtrl.task.subject }}</h5>
  <h4 class="text-primary">{{ taskCtrl.task.name }}</h4>
  <p ng-if="taskCtrl.task.instructions">TASK INSTRUCTIONS: {{ taskCtrl.task.instructions }}</p>
  <p ng-if="taskCtrl.task.sourceType === 'text'">{{ taskCtrl.task.source }}</p>
  <p><a class="text-info source-link" ng-if="taskCtrl.task.sourceType === 'url'" href="{{taskCtrl.task.source}}" target=”_blank”>{{ taskCtrl.task.source }}</a></p>

  <form name="form" ng-submit="form.$valid && taskCtrl.saveTaskAnswers()" novalidate>
    <div class="form-group" ng-repeat="q in taskCtrl.task.questions track by $index" ng-init="$indexQ = $index">
      <label for="answer{{$indexQ}}">{{ q.question }}
    </label>
      <textarea id="answer{{$indexQ}}" class="form-control" ng-if="q.type === 'open'" ng-model="q.studentAnswer" placeholder="Your Answer" ng-disabled="lessonCtrl.lesson.dateSubmitted" required></textarea>
      <div class="form-check multiple-answers">
        <label class="form-check-label" ng-repeat="answer in q.answers">
        <input class="form-check-input" type="checkbox" ng-model="q.studentAnswer[answer]" ng-disabled="lessonCtrl.lesson.dateSubmitted">
          {{ answer }}
      </label>
      </div>
    </div>
    <label class="form-check-label save-as" ng-if="!lessonCtrl.lesson.dateSubmitted">
      <input class="form-check-input" type="checkbox" ng-model="taskCtrl.task.completed">
      Mark as complete
    </label>
    <button type="submit" class="btn btn-primary btn-lg btn-block saveBtn" ng-if="!lessonCtrl.lesson.dateSubmitted">Save changes</button>
    <div class="text-danger incomplete" ng-show="form.$submitted && !form.$valid">Please answer all of the questions. You will be able to amend your answers as long as this lesson is not submitted for evaluation.</div>
  </form>
</div>
