<div class="container-fluid all-templates">
  <div class="row">
    <div ng-include="'app/lessons/html/lessonAlerts.html'"></div>
    
    <div class="col-sm-4 col-md-2 filterBar">
      <h5 class="text-success">FILTER BY:</h5>
      <div ng-include="'app/lessons/html/filter.html'"></div>
    </div>

    <div class="col-sm-12 col-md-9">
      <h3 class="text-primary">TASK TEMPLATES</h3>
      <a class="btn btn-primary" ui-sref="taskForm">New Template</a>
      <div class="row">
        <div class="col-12 col-sm-11" ng-repeat="template in templates.templates | orderBy: ['level', 'category']">
          <div class="card border-dark mb-3">
            <button class="btn btn-danger del" ng-click="templates.delete(template)">&times;</button>
            <div class="card-header">{{template.level}} / {{template.category}} / {{template.subject}} / {{template.name}}</div>
            <div class="card-body text-dark">
              <h6 class="text-secondary" ng-if="template.instructions">{{template.instructions}}</h6>
              <h6><a class="text-info source-link" ng-if="template.sourceType === 'url'" href="{{template.source}}" target=”_blank”>{{ template.source }}</a></h6>
              <h6 ng-if="template.sourceType === 'text'">{{ template.source }}</h6>
              <ul ng-repeat="q in template.questions">
                <li>{{q.question}}</li>
                <ol>
                  <li ng-repeat="answ in q.answers track by $index" ng-hide="answ == ''">{{answ}}</li>
                </ol>
              </ul>
              <a class="btn btn-outline-primary edit" ui-sref="taskForm({ templateId: template.id })">Edit</a>
            </div>
          </div>
        </div>
        <div class="loader-area">
          <div class="loader" ng-show="templates.loading"></div>
        </div>
      </div>
    </div>
  </div>
</div>
